$font-stack:    Helvetica, sans-serif;
$backgropud-color: rgb(13, 11, 17);
$text-color: rgb(205, 235, 243);

body {
  font: 100% $font-stack;
  background-color: $backgropud-color;
  text-align: center;
  color: $text-color;
}